@import '../../App.scss';

.schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;

    &__title {
        font-size: 20px;
        margin: 5% 2%;

        @media (max-width: $break-point-desktop) {
            font-size: 18px;
        }
    }

    &__image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
        margin-bottom: 5%;

        img {
            height: auto;
            width: 100%;
        }
    }
}
