@import '../../App.scss';

.schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__title {
        font-size: 20px;
        margin: 5% 2%;

        @media (max-width: $break-point-desktop) {
            font-size: 18px;
        }
    }

    &__training-title {
        margin-bottom: 5%;
        color: $color-navy;
    }

    &__image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            height: auto;
            padding-top: 5%;
            padding-bottom: 5%;
        }
    }
}
