@import '../../App.scss';

.schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        font-size: 36px;
        margin: 10% 2%;
        color: $color-navy;
    }

    &__training-title {
        margin-bottom: 2%;
    }

    &__date {
        display: flex;
        align-items: center;
        margin: 7%;

        & img {
            width: 150px;
            height: auto;
        }
    }
}