@import '../../App.scss';

.shopItem {
    background-color: $color-orange;
    padding: 10%;
    padding-bottom: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3% 3% 6%;
    width: 80%;

    color: white;
    text-align: center;

    & img {
        width: 100%;
        height: auto;
        margin-bottom: 10%;
    }

    &__title {
        font-weight: 600;
        font-size: 16px;
        max-width: 80%;
    }

    &__price {
        font-size: 16px;
    }

    &__btn {
        margin-top: 20px;
        background-color: $color-cookie;
        padding: 10px;
        color: $color-navy;
        font-weight: 600;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        bottom: 3%;
    }

    &__btn:hover {
        background-color: $color-cream;
    }

    @media (min-width: $break-point-desktop) {
        width: 25%;
        padding: 3%;
        justify-content: space-between;
    }
}
