@import '../../App.scss';

.about-paragraph {
    display: flex;
    padding: 5% 15%;
    align-items: center;

    & p {
        width: 70%;
        padding: 10px 40px 20px;
        letter-spacing: 2px;
        text-indent: 20px;
        text-align: justify;
        line-height: 20px;
        font-weight: 450
    };

    &__orange {
        display: flex;
        padding: 5%;
        background-color: $color-orange;
    }

    &__image {
        height: 300px;
        background-color: $color-navy;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        & img {
            width: 420px;
            height: 400px;
            position: absolute;
            top: 50px;
            left: 30px;
        }
    }

    &__text {
        width: 30%;

        & p {
            margin: 15%;
        }
    }
}
