{
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "ignorePatterns": ["**/gatsby*.js"],
    "globals": {
        "document": true,
        "window": true
    },
    "rules": {
        
    }
}
