@import '../../App.scss';

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 1% 7%;
    background-color: $color-navy;
    color: white;
    font-size: 30px;
    font-weight: 600;
    width: 100px;
    border-radius: 40px;
    cursor: pointer;
}

.content {
    margin-top: 4%;
}

.answer {
    display: flex;
    margin-top: 2%;
}

.faq-question {
    display: flex;
    flex-direction: column;

    img {
        max-width: 20%;
        margin-left: 2%;
    }
}
