@import '../../App.scss';

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
}

.btn__mini {
    padding: 30px;
    font-size: 1.4rem;
}

.btn__white {
    color: white;
    padding: 0;
}

.btn__black {
    color: black;
}
