@import '../App.scss';

.news {
    display: flex;
    flex-direction: column;
    align-items: center;

    .news-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3% 0;

        & img {
            margin: 0 auto;
            width: 100%;
            cursor: pointer;
        }

        &__text {
            margin: 5%;
            width: 90%;
            background-color: $color-orange;
            padding: 1% 3%;
            color: white;
            border-radius: 25px;

            
        }

        @media (min-width: $break-point-desktop) {
            flex-direction: row;
            align-items: unset;

            &__text {
                margin: 0 2%;
            }

            & img {
                margin: 0 auto;
                width: 90%;
            }
            
        }

        @media (min-width: $break-point-monitor) {
            font-size: $font-size-monitor;  
        }
    }

    &__title {
        width: 90%;
        background-color: $color-cookie;
        text-align: center;
        padding: 2%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        margin: 0 0 2%;
    }

    &__date {
        margin-bottom: 2%;
    }
}
