@import '../../App.scss';

.about {
    &__blue {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        padding: 5%;
        background-color: $color-navy;
        border-radius: 40px;
        margin: 5%;

        & p {
            letter-spacing: 2px;
            line-height: 26px;
            font-weight: 450;
            font-size: 18px;
            padding: 0 5%;
            color: $color-cream;
            text-align: center;
        }
    }

    &__icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 10%;
        margin-top: 5%;
        margin-bottom: 0;

        &--row {
            display: flex;
            justify-content: center;

            @media (max-width: $break-point-desktop) {
                flex-direction: column;
            }
        }

        @media (max-width: $break-point-desktop) {
            margin: 0 5%;
            margin-top: 10%;
        }

        &--single-icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex: 0.25;

            & p {
                margin: 10%;
                text-align: center;
                font-weight: 450;
                color: $color-rust;
                font-weight: 600;
            }
        }
    }

    &__border {
        border-top: white 3px solid;
        box-shadow: 0 0 20px white;
        width: 80%;
        margin-bottom: 5%;

        &--short {
            width: 30%;
            border-top: white 3px solid;
            box-shadow: 0 0 20px white;
            margin: 5%;
        }
    }
}

.team {
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: $color-orange;
    border-radius: 40px;

    a {
        color: black;
        font-weight: 700;
        display: flex;
    }

    ul {
        padding-left: 20px;
        li {
            padding-bottom: $font-size-desktop;
            @media (max-width: $break-point-desktop) {
                padding-bottom: $font-size-mobile;
            }
        }

        li:last-child {
            padding-bottom: 0;
        }
    }

    @media (max-width: $break-point-desktop) {
        margin: 5%;
        width: 90%;
        padding: 5%;
        border-radius: 30px;
        ul {
            padding: 0;
        }
    }
}

.team-img {
    max-height: 90vh;
    object-fit: cover;
}
