@import '../../App.scss';

.layout-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-paragraph {
    display: flex;
    padding: 5%;
    align-items: center;
    justify-content: center;

    & p {
        width: 40%;
        letter-spacing: 2px;
        text-indent: 20px;
        line-height: 26px;
        font-weight: 450;
        font-size: 18px;
        background-color: $color-navy;
        color: white;
        padding: 3% 5%;
        border-radius: 40px;

        & strong {
            font-weight: 900;
            color: $color-cookie
        }
    }

    &__orange {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 2%;
        background-color: $color-orange;
        border-radius: 40px;
        margin-bottom: 5%;
        width: 90%;
        color: white;
    }

    &__blue {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        padding: 5%;
        background-color: $color-navy;
        border-radius: 40px;
        margin: 5%;

        & p {
            letter-spacing: 2px;
            line-height: 26px;
            font-weight: 450;
            font-size: 18px;
            padding: 0 5%;
            color: $color-cream;
            text-align: center;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & p {
            letter-spacing: 2px;
            line-height: 26px;
            font-weight: 450;
            font-size: 18px;
            padding: 0 10%;
        }
    }

    &__icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--row {
            display: flex;
            justify-content: center;

            @media (max-width: 768px) {
                flex-direction: column;
            }
        }

        &--single-icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex: 0.25;

            & p {
                margin: 10%;
                text-align: center;
                font-size: 16px;
                font-weight: 450;
                color: $color-rust;
font-weight: 600;
            }
        }
    }

    &__border {
        border-top: white 3px solid;
        box-shadow: 0 0 20px white;
        width: 80%;
        margin-bottom: 5%;

        &--short {
            width: 30%;
            border-top: white 3px solid;
            box-shadow: 0 0 20px white;
            margin: 5%;
        }
    }
}
