@import '../../App.scss';

.container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5% 15%;
    background-color: $color-orange;
    color: white;

    @media (max-width: $break-point-desktop) {
        padding: 5% 10%;
    }

    &__border {
        border-top: white 3px solid;
        box-shadow: 0 0 20px white;
        width: 80%;
        margin-bottom: 5%;

        &--short {
            width: 30%;
            border-top: white 3px solid;
            box-shadow: 0 0 20px white;
            margin: 5%;
        }
    }

    p {
        letter-spacing: 1px;
        line-height: 26px;
        font-weight: 450;
        font-size: $font-size-desktop;
        color: white;

        & strong {
            font-weight: 700;
        }

        @media (max-width: $break-point-desktop) {
            font-size: $font-size-mobile;
        }
    }
    img {
        width: 80%;
    }
}
