@import '../../App.scss';

.container-row {
    display: flex;
    padding: 0 5% 5%;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    & p {
        width: 40%;
        letter-spacing: 2px;
        text-indent: 20px;
        line-height: 26px;
        font-weight: 450;
        font-size: 18px;
        background-color: $color-navy;
        color: white;
        padding: 3% 5%;
        border-radius: 40px;

       

        & strong {
            font-weight: 900;
            color: $color-cookie
        }
    }
    
}
