@import '../../App.scss';

.container-blue {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 10% 5%;
    padding: 5% 5%;
    background-color: $color-navy;
    border-radius: 30px;

    color: white;
    border-radius: 40px;
    letter-spacing: 1px;
    line-height: 26px;
    font-weight: 450;

    &__border {
        border-top: white 3px solid;
        box-shadow: 0 0 20px white;
        width: 80%;
        margin-bottom: 5%;
    }

    &__borderBottom {
        border-top: white 3px solid;
        box-shadow: 0 0 20px white;
        width: 80%;
        margin-top: 5%;
    }

    @media (min-width: $break-point-desktop) {
        width: 80%;
        margin: 5% 10%;
        padding: 5% 10%;
    }

    @media (min-width: $break-point-monitor) {
        margin: 5% 10%;
        padding: 3% 5%;
        text-align: center;
    }

    .wyszukiwarka {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}
