@import '../../App.scss';

.container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 30px calc(5% + 20px);
    background-color: $color-orange;
    color: white;

    @media (min-width: $break-point-desktop) {
        padding: 40px calc(10% + 30px);
        gap: 32px;
    }

    &__border {
        border-top: white 3px solid;
        box-shadow: 0 0 20px white;
        width: 80%;

        &--short {
            width: 30%;
            border-top: white 3px solid;
            box-shadow: 0 0 20px white;
            margin: 0 5%;
        }
    }

    p {
        letter-spacing: 1px;
        line-height: 26px;
        font-weight: 450;
        color: white;
        margin: 0;

        & strong {
            font-weight: 700;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    .text-image-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        @media (min-width: $break-point-desktop) {
            gap: 30px;
        }

        p {
            text-align: justify;
        }

        & img {
            width: 100%;
            height: auto;

            @media (min-width: $break-point-desktop) {
                max-height: 30vh;
                margin: 2% 0;
            }
        }

        @media (max-width: $break-point-desktop) {
            flex-direction: column;

            p {
                text-align: left;
            }
        }
    }

    &__images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: $break-point-desktop) {
            flex-direction: row;

            & img {
                width: auto;
                max-height: 70vh;
            }
        }
    }
}

.smallPadding {
    padding: 20px calc(10% + 30px);
}

@media (max-width: $break-point-desktop) {
    .smallPadding {
        padding: 30px 10%;
    }
}

.colorCream {
    background-color: $color-cream;
    padding-bottom: 3%;
    padding-top: 3%;

    p {
        color: black;
    }
}

.image-description {
    font-size: 9px;
    margin: 0;
    text-align: center;

    @media (min-width: $break-point-desktop) {
        font-size: 11px;
        width: 60%;
    }
}
