@import '../../App.scss';

.container-blue {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 5% 2%;
    background-color: $color-navy;
    margin: 5%;
    color: white;
    border-radius: 40px;
    letter-spacing: 2px;
    line-height: 26px;
    font-weight: 450;
    font-size: 18px;
    padding: 5% 10%;

    &__border {
        border-top: white 3px solid;
        box-shadow: 0 0 20px white;
        width: 80%;
        margin-bottom: 5%;
    }
}
