@import '../../App.scss';

.container-transparent {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;

    strong {
        font-weight: 900;
        margin-bottom: 2%;
    }

    li, p {
        letter-spacing: 1px;
        line-height: 26px;
        font-weight: 450;
        font-size: $font-size-desktop;
        padding: 0 5% 2%;
        border-radius: 40px;
        
        display: flex;
        flex-direction: column;

        & img {
            height: 100px;
            margin-bottom: 2%;
        }

        @media (max-width: $break-point-desktop) {
            width: 100%;
            font-size: $font-size-mobile;
            padding: 5px;
            border-radius: 30px;
        }
    }
}
