@import '../../App.scss';

.footer {
    font-size: 0.85rem;
    background-color: $color-navy;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5%;

    &__name {
        display: flex;
        flex-direction: column;
        img {
            max-width: 150px;
        }
        span {
            max-width: 420px;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        span {
            line-height: 1.6rem;
        }
        a {
            color: white;
        }
    }

    &__adress {
        line-height: 1.6rem;
    }

    @media (min-width: $break-point-desktop) {
        font-size: 1rem;
        flex-direction: row;
        align-items: flex-end;
        padding: 5% 10%;
        gap: 2%;

        &__name {
            flex-grow: 1;
            img {
                max-width: 200px;
            }
            // span {
            //     max-width: 500px;
            // }
        }
        &__contact {
            flex-grow: 1;
            min-width: 180px;
        }

        &__adress {
            min-width: 280px;
            line-height: 1.6rem;
            flex-grow: 1;
        }
    }
}
