@import '../../App.scss';

.dropdown {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 10%;
    
    & a {
        margin: 5% 0;
        font-size: 20px;
        text-align: start;
        text-decoration: none;
        color: white;
    }

    &__back-button {
        font-size: 20px;
        padding: 0;

        & span {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            width: 100vw;

            & p {
                margin-left: 3%;
            }
        }
    }

    @media (min-width: $break-point-desktop) {
        position: absolute;
        top: 100%;
        transform: translateY(5%);
        background: $color-orange;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        width: auto;

        & a {
            padding: 5px 10px;
            font-size: $font-size-desktop;
            font-weight: 600;
            color: white;
        }

        &__back-button {
            display: none;
        }

        a.dropdown__active-item {
            color: $color-navy;
        }
    }

    @media (min-width: $break-point-monitor) {
        & a {
            font-size: 22px;
        }
    }
}

a.dropdown__active-item {
    color: $color-orange;
}

.navbar-item {
    position: relative;
    color: white;
    cursor: pointer;

    &__active {
        color: $color-orange;
    }
}
