@import '../App.scss';

.full-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: $color-navy;
    color: $color-cream;
    h2 {
        font-size: 40px;
        font-weight: 900;
    }
    p {
        font-size: $font-size-desktop;
        font-weight: 700;
    }
}
