@import '../App.scss';

.home-container {
    display: flex;
    text-align: center;
    justify-content: center;

    @media (max-width: $break-point-desktop) {
        flex-direction: column;
    }
}

.news-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $break-point-desktop) {
        & h3 {
            margin: 3% 0 0;
            font-size: 30px;
        }
       
    }

    &__title {
        padding: 4%;
        margin: 0;
        font-size: 26px;
        color: $color-navy;
        width: 100%;
        text-align: center;

        @media (min-width: $break-point-desktop) {
            font-size: 40px;
            padding: 2% 0 0.5%;
        }

        @media (min-width: $break-point-monitor) {
            font-size: 46px;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
