@import '../../App.scss';

.navbar {
    order: 2;
    height: 20vh;
    background-color: $color-cream;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 5%;
    width: 90%;

    @media (min-width: $break-point-desktop) {
        display: flex;
        justify-content: space-around;
        background-color: white;
        width: 80%;
        position: absolute;
        top: 70%;
        font-size: 15px;

        &__hamburger {
            display: none;
        }
    }

    &__logo {
        height: 80%;
        width: auto;
        padding: 0 5%;
    }

    &__list {
        display: none;

        @media (min-width: $break-point-desktop) {
            display: flex;
            justify-content: center;
            text-align: center;
            flex-grow: 2;
            flex-wrap: wrap;

            li {
                display: flex;
                align-items: center;
                padding: 2%;
                font-weight: bold;


            }
        }
    }

    &__visible {
        position: fixed;
        top: 0;
        overflow-y: hidden;
        margin: 0;
        padding: 0;
        visibility: visible;
        background-color: #000000;
        opacity: 0.9;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li {
            padding: 20px 0;
            width: 80%;

            a {
                color: #ffffff;
            }
        }

        li:last-child {
            width: 100%;
            text-align: center;
        }
    }
}