@import '../../App.scss';

.shop-items-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $break-point-desktop) {
        flex-direction: row;
        align-items: flex-start;
    }
}

.package {
    width: 80%;
    margin: 0 auto;
}

h3 {
    margin: 0 auto;
    padding-bottom: 5%;
}