@import '../../App.scss';

.bullets {
    margin-left: 15%;
    li::before { 
        content: "";
        border-color: transparent #111;
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.45em;
        display: block;
        height: 0;
        width: 0;
        left: -1em;
        top: 1.15em;
        position: relative;
      }
}

.workshop {
  &__icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 10%;
      margin-bottom: 0;

      &--row {
          display: flex;
          justify-content: center;
          align-items: flex-start;

          @media (max-width: $break-point-desktop) {
              flex-direction: column;
          }
      }

      @media (max-width: $break-point-desktop) {
          margin: 0 5%;
          margin-top: 10%;
      }

      &--single-icon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          flex: 0.25;

          & p {
              margin: 10%;
              text-align: center;
              font-weight: 450;
              color: $color-rust;
              font-weight: 600;
          }

          & img {
            width: 50%;
            margin: 0 auto;
          }
      }
  }
}

.for-who {
  margin: 0;
}

.price {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 5%;
}

.signup {
  display: flex;
  justify-content: center;
}

.faq-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 2%;
  padding: 3% 7%;
  background-color: $color-navy;
  color: white;
  font-size: 26px;
  font-weight: 600;
  width: 100px;
  border-radius: 40px;
  cursor: pointer;
}

.faq-ul {
  li {
    margin-top: 4%;
  }
  li:first-of-type {
    margin-top: 0;
  }
}