@import '../../App.scss';

.single-news {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    font-size: $font-size-mobile;

    & a {
        font-weight: 700;
    }

    @media (min-width: $break-point-desktop) {
        flex-direction: row;
        padding: 2% 8%;
        margin: 0 0 1%;
        font-size: $font-size-desktop;
    }

    &:nth-child(odd) {
        @media (min-width: $break-point-desktop) {
            flex-direction: row-reverse;
        }
    }

    &__title {
        font-weight: 700;
        font-size: $font-size-mobile;
        margin-top: 5%;
        width: 100%;
        text-indent: 0;
        padding: 3% 0;

        & p {
            font-weight: 300;
        }

        @media (min-width: $break-point-desktop) {
            font-size: $font-size-desktop;
            padding: 0;
        }

        @media (min-width: $break-point-monitor) {
            font-size: 22px;
        }
    }

    &__text-content {
        width: 90%;
        margin: 0 3%;
        margin-bottom: 10px;

        @media (min-width: $break-point-desktop) {
            width: 50%;
        }

        & a {
            color: $color-rust;
        }
    }

    &__image {
        width: 90%;
        margin-top: 3%;

        @media (min-width: $break-point-desktop) {
            width: 45%;
        }
    }

    &__noLink {
        cursor: auto;
    }

    iframe {
        padding: 5%;
        width: 100%;
        aspect-ratio: 560/315;

        @media (min-width: $break-point-desktop) {
            padding: 0;
            width: 45%;
        }
    }

    &__more {
        margin: 0 auto;
        font-size: 14px;
        width: fit-content;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        background-color: transparent;
        border: 1px solid $color-rust;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: $color-rust;
            a {
                color: white !important;
            }
        }
    }

    &__date {
        width: 100%;
        margin-top: 2%;
        font-weight: 300;
        font-size: 12px;
    }
}
