@import '../../App.scss';

.single-news {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    min-height: 80vh;

    @media (min-width: $break-point-desktop) {
        flex-direction: row;
        padding: 0 10%;
        margin: 0;
    }

    &:nth-child(odd) {
        @media (min-width: $break-point-desktop) {
            flex-direction: row-reverse;
        }
    }

    &__title {
        font-weight: 700;
        font-size: $font-size-mobile;
        margin-top: 5%;
        padding: 5%;
        width: 100%;

        & p {
            font-weight: 300;
        }

        @media (min-width: $break-point-desktop) {
            font-size: $font-size-desktop;
            padding: 2%;
            width: 40%;
        }

        @media (min-width: $break-point-monitor) {
            font-size: 22px;
        }
    }

    &__image {
        width: 100%;
        margin-top: 3%;

        @media (min-width: $break-point-desktop) {
            display: none;
        }
    }
}

.news-background-1 {
    background: none;

    @media (min-width: $break-point-desktop) {
        background: url('../../images/newsThumbs/news-1.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.news-background-2 {
    background: none;

    @media (min-width: $break-point-desktop) {
        background: url('../../images/newsThumbs/news-2.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.news-background-3 {
    background: none;

    @media (min-width: $break-point-desktop) {
        background: url('../../images/newsThumbs/news-3.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}
