// Variables
$color-orange: #e46c3c;
$color-navy: #043454;
$color-rust: #b95731;
$color-cream: #faf2e8;
$color-cookie: #fcdcb4;

//Common styles
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    .layout-content {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
